@model Hospital.DTO.Patient.UpdatePatientDto

<div class="row offset-2 col-md-8">
    <form asp-action="UpdatePatient" class="form-panel">
        <input hidden asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row row-space">
            <div class="form-group header-text">
                Edytujesz pacjenta
            </div>
        </div>
        <div class="row row-space">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Name" class="form-text"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="LastName" class="form-text"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Age" class="form-text"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Pesel" class="form-text"></label>
                    <input asp-for="Pesel" class="form-control" />
                    <span asp-validation-for="Pesel" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <div class="form-group" style="text-align:right">
                <input type="submit" value="Edytuj" class="signup-button" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }